* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1f2641;
}

.col-md-6 {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.card {
    background: #2e3267;
    border: 2px solid #424890;
    color: white;
    box-shadow: 2px 2px 15px black;
    transition: all .7s ease;
}

.card:hover {
    transform: scale(1.15);
    background: #1f2641;
    box-shadow: rgb(2, 135, 252) 2px 2px 3px;
}

.btn {
    border: 1px solid darkgray;
}

.breadcrumb-item {
    cursor: pointer;
}

.breadcrumb li:nth-child(2) {
    color: palevioletred !important;
}

.fa-book,
.fa-clock {
    color: rgb(4, 173, 240);
}

.navbar-nav li a {
    color: white !important;
}

.navbar-brand {
    color: white !important;
    font-weight: bold;
    font-style: 18px;
}

.nav-item a {
    margin: .3rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    padding-bottom: 40px;
}

.glow-on-hover {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.2rem;
    margin-right: 1rem;
    width: 100px;
    font-weight: bold;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition: all 0.3s;
}


.glow-on-hover:hover,
.glow-on-hover a:hover {
    text-decoration: underline;
    transform: translateY(-5px);
    background: none !important;
    color: orange !important;
}


.nav-link {
    width: 130px;
}

.navbar .btn {
    padding-bottom: 2.2rem;
    margin: .2rem;
}

.navbar .btn a {
    color: #fff;
    text-decoration: none;
}


.navbar-toggler {
    background-color: #fff;
}


/* Company Name */

.h1 {
    /* color: rgb(240, 3, 248) !important; */
    color: hsl(0, 3%, 65%);
    font-size: 2.5rem;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 0.1rem;
    padding-top: .2rem;
    cursor: pointer;
}

.h1 span {
    transition: 0.5s ease-out;
}

.h1:hover span:nth-child(1) {
    margin-right: 5px;
}

.h1:hover span:nth-child(2) {
    margin-left: 30px;
}

.h1:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
